$initial_background: rgba(63,94,251,0.1);
*{
  //border: 2px solid black;
}

.App {
  text-align: center;



  .App-header {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    #quote-box {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: auto;
      max-width: 750px;
      height: auto;
      background-color: white;
      border-radius: 10px;
      color: black;
      padding: 30px;

      #author {
        text-align: end;
      }
    }
    
  }
}




